<div class="panel-footer">
	<div class="container">
		<!--First column-->
      <div class="col-lg-4 text-center">
        <a href="#" class="facebook">Facebook</a>
        <a href="#">Gmail</a>
      </div>
      <!--/.First column-->
      <!--Second column-->
      	<div class="col-lg-4 text-center">
        	<p>
				&copy; 2018 REDciclemos
			</p>
      </div>
      <!--Second column-->
      <!--Third column-->
      <div class="col-lg-4">
      	<p>Contacto</p>
        <p>Coronel J. Rodriguez 276, Ciudad de Mendoza, Argentina</p>
        <p>0261 524 4500 </p>
      </div>
      <!--Third column-->
	</div>
</div>
